---
import Layout from '../layouts/Layout.astro';
import AppStoreBadge from '../components/AppStoreBadge.astro';
import appIcon150 from '../images/app-icon-150.webp';
import appIcon300 from '../images/app-icon-300.webp';
import appIcon600 from '../images/app-icon-600.webp';
import appIcon1024 from '../images/app-icon-1024.webp';
import appIcon from '../images/app-icon-600.png';
---

<Layout title="Home">

<section class="flex flex-wrap mt-8 mb-32">
  <div class="w-full md:w-1/2 text-center md:text-left">
    <h1 class="text-5xl font-bold tracking-tight leading-tight">
      Offline Units Converter
    </h1>
    <div class="my-4 text-gray-800 text-lg">
        Convert values of different systems of measurement on the go
        without Internet connection.
    </div>
    <div class="my-8">
      <a href="https://apps.apple.com/us/app/offline-units-converter/id1581993464?itsct=apps_box_badge&amp;itscg=30200" class="inline-block overflow-hidden rounded-[13px] w-[250px] h-[83px]">
        <AppStoreBadge className="rounded-[13px] w-[250px] h-[83px]" />
      </a>
    </div>
  </div>
  <div class="w-full md:w-1/2 text-center">
    <img
      alt="App Icon"
      class="m-auto rounded-3xl shadow-lg w-[300px] h-[300px]"
      src={appIcon}
      srcset={`${appIcon150} 150w, ${appIcon300} 300w, ${appIcon600} 600w, ${appIcon1024} 1024w`}
      sizes="300px"
    />
  </div>
</section>

</Layout>
