---
import '@fontsource/inter/latin-400.css';
import '@fontsource/inter/latin-700.css';
import '@fontsource/inter/variable.css';

import Seo from '../components/Seo.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props;

export interface MenuItem {
	route: string;
	title: string;
}

const menuItems: MenuItem[] = [
	{
	  route: `/support`,
	  title: `Support`,
	},
	{
	  route: `/privacy`,
	  title: `Privacy`,
	},
];

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="generator" content={Astro.generator} />
		<title>Units Converter :: {title}</title>
		<Seo title={title} />
	</head>
	<body>
    <div class="flex flex-col min-h-screen font-sans text-gray-900">
			<header class="bg-navy">
			  <div class="flex flex-wrap items-center justify-between max-w-4xl p-4 mx-auto md:p-8">
				<a href="/">
				  <h1 class="flex items-center text-white no-underline">
					<span class="text-xl font-bold tracking-tight">
					  Units Converter
					</span>
				  </h1>
				</a>
		
				<input type="checkbox" id="toggle" class="hidden peer" />
				<label for="toggle" class="flex items-center block px-3 py-2 text-white border border-white rounded md:hidden cursor-pointer">
				  <svg
					class="w-3 h-3 fill-current"
					viewBox="0 0 20 20"
					xmlns="http://www.w3.org/2000/svg"
				  >
					<title>Toggle Menu</title>
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
				  </svg>
				</label>
		
				<nav class="peer-checked:block hidden md:block md:flex md:items-center w-full md:w-auto">
				  {menuItems.map((link) => (
					<a
					  class="block mt-4 text-white no-underline md:inline-block md:mt-0 md:ml-6"
					  href={link.route}
					  data-turbo-preload
					>
					  {link.title}
					</a>
				  ))}
				</nav>
			  </div>
			</header>
		
      <main class="flex-1 w-full max-w-4xl px-4 py-8 mx-auto md:px-8 md:py-16">
		<slot />
      </main>

      <footer class="bg-navy">
        <nav class="flex justify-between max-w-4xl p-4 mx-auto text-sm md:p-8">
          <p class="text-white">
            &copy; 2023 Ignat Skoryh
          </p>

          <p>
            <a
              class="font-bold text-white no-underline"
              href="https://github.com/ignat/units-converter-site"
              target="_blank"
              rel="noopener noreferrer"
            >
              GitHub
            </a>
          </p>
        </nav>
      </footer>
    </div>
	</body>
</html>

<script>
	import * as Turbo from "@hotwired/turbo";
</script>